<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>skroutzanalytics</name>
    <displayName><![CDATA[Skroutz Analytics]]></displayName>
    <version><![CDATA[1.0]]></version>
    <description><![CDATA[Adds a block.]]></description>
    <author><![CDATA[Ilias S]]></author>
    <tab><![CDATA[front_office_features]]></tab>
	<confirmUninstall><![CDATA[Are you sure you want to delete this module?]]></confirmUninstall>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>